<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 , maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- End meta tags -->

    <title><%= htmlWebpackPlugin.options.title %></title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:700,400,300,100">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="/css/defaults.css">
    <!-- End CSS -->

    <!-- Google Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTxqK8bRQb_IJWqWcKO71a3MkgnrsmrK0" async defer></script>

  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
