.LoginForm {
  background-color: #aaa;
  height: 95vh;
}

.LoginField {
  background-color: #faa;
  height: 40vh;
  text-align: center;
  line-height: 20px;
  vertical-align: middle;

}

input{
  height:10px;
}

button{
padding-top:5px;
}
