$blue: #5472A3;
$blue-dark: #29384F;
$blue-darkest: #011638;
$blue-light: #98AFD3;
$blue-lightest: #C0CFE8;

$grey: #dddddd;
$grey-light: #eeeeee;
$grey-lighest: #f7f7f7;
$grey-dark: #cccccc;
$grey-darkest: #888888;

$black: #222222;
$white: #ffffff;

$text-dark: #333333;
$text-white: #ffffff;

$mobile-nav-menu-width: 300px;
$mobile-navbar-height: 45px;
$desktop-navbar-height: 45px;

$content-height: calc(100vh - #{$desktop-navbar-height});
$sidebar-width: 300px;
$map-height: 65vh;
