@import '../../../static/scss/theme';

.ReportIncidentForm {
  background-color: #fff;
  width: 420px;
  height: $content-height;
  padding: 16px;

  h2 {
    margin-top: 0;
  }

  form {
    display: flex;
    flex-direction: column;

    label {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      font-size: 18px;
      font-weight: lighter;
      width: 100%;
      margin-bottom: 16px;
      font-size: 14px;
      color: $blue;

      input, textarea {
        margin-top: 6px;
        border: 1px solid $grey-light;
        border-radius: 4px;
        background-color: $grey-lighest;
        padding: 6px;
        font-size: 16px;
        width: 90%;
      }
      select {
        margin-top: 6px;
        width: 90%;
      }
    }
    button {
      background-color: $blue-dark;
      border: 1px solid $blue-darkest;
      border-radius: 4px;
      color: #fff;
      padding: 8px 12px;
      width: 300px;
      cursor: pointer;
      margin: 0px auto;

      &:hover {
        background-color: $blue-darkest;
      }
      &[disabled] {
        opacity: 0.6;
        cursor: not-allowed;
      }
    }
  }
}
