.ReportIncidentForm {
  background-color: #aaa;
  height: 95vh;
  width: 290px;
}

.IncidentField {
  background-color: #9cabc9;
  height: 100vh;
  line-height: 20px;
}

.c1{
  text-align: center;
  padding-top: 20px;
}

input{
  height:15px;
  width:138px;
}

select{
  width:141px;
}

table{

}

td {
    padding-left: 15px;
    padding-right: 10px;
}
