<h2>New incident<h3>

<table>
    <tr>
        <td>Incident index</td>
        <td>{{ incident.id }}</td>
    </tr>
    <tr>
        <td>Incident title</td>
        <td>{{ incident.title }}</td>
    </tr>
    <tr>
        <td>Incident description</td>
        <td>{{ incident.description }}</td>
    </tr>
    <tr>
        <td>Time</td>
        <td>{{ incident.created_at}}</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
</table>