@import '../../../static/scss/theme';
@import '../../../static/scss/mixins';

$tween: cubic-bezier(.03, .83, .76, .98);

.Toast {
  position: fixed;
  top: 8px;
  right: 16px;
  z-index: $toast-z;

  ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;

    li {
      @include card(3);
      padding: 12px 16px;
      margin-bottom: 16px;
      border-radius: 3px;
      color: #fff;
      display: flex;
      align-items: center;
      opacity: 0.85;
      min-width: 200px;
      max-width: 200px;
      transition: opacity .5s ease;

      &:hover {
        opacity: 1;
      }

      &.info {
        background-color: $blue;
      }

      &.error {
        background-color: $red-error;
      }

      .msg-content {
        flex: 1;
      }

      i {
        font-size: 22px;
        width: 20px;
        text-align: center;
        cursor: pointer;
      }
    }
  }


  // Animations

  .animAppear {
    opacity: 0.01;
  }

  .animAppear.animAppearActive {
    opacity: 1;
    transition: opacity .5s ease-in;
  }

  .animEnter {
    opacity: 0.01;
    transition: opacity .3s $tween;
  }

  .animEnter.animEnterActive {
    opacity: 1;
  }

  .animLeave {
    opacity: 1;
    transition: opacity .8s $tween;
  }

  .animLeave.animLeaveActive {
    opacity: 0;
  }
}
